<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meow.proxy.dao.ProxyDao">

    <!-- insert -->
    <!--保存代理，使用ip和port作为主键避免重复插入-->
    <insert id="saveProxies" parameterType="java.util.List">
        INSERT IGNORE INTO `Cfg_Proxy`
        (`ip`,`PORT`,`anonymousType`,`protocolType`,`country`,`AREA`,`valid`,`invalidTime`,`lastSurviveTime`,`checkTime`,`checkStatus`,`score`,`sourceSite`,`validTime`,`crawlTime`,`responseTime`)
        VALUES
        <foreach collection="list" item="proxy" index="index" separator=",">
            (#{proxy.ip},#{proxy.port},#{proxy.anonymousType},#{proxy.protocolType},#{proxy.country},#{proxy.area},#{proxy.valid},#{proxy.invalidTime},#{proxy.lastSurviveTime},#{proxy.checkTime},#{proxy.checkStatus},#{proxy.score},#{proxy.sourceSite},#{proxy.validTime},#{proxy.crawlTime},#{proxy.responseTime})
        </foreach>
    </insert>


    <!-- query -->
    <!--查询所有有效的代理 -->
    <select id="queryValidProxies" resultType="com.meow.proxy.entity.Proxy">
            SELECT * FROM Cfg_Proxy WHERE valid = 1;
        </select>

    <!--查询响应时间最短的、最新的前一百条代理，参数可选-->
    <select id="queryProxy" resultType="com.meow.proxy.entity.Proxy">
        SELECT * FROM Cfg_Proxy WHERE valid = 1
        <if test="anonymousType != null and anonymousType != '' ">
            AND anonymousType = #{anonymousType, jdbcType=VARCHAR}
        </if>
        <if test="protocolType != null and protocolType != '' ">
            AND protocolType = #{protocolType, jdbcType=VARCHAR}
        </if>
        <choose>
            <when test="isDemostic != null and isDemostic == 'true' ">
                AND (country = 'china' OR country = '中国')
            </when>
            <when test="isDemostic != null and isDemostic == 'false' ">
                AND country != 'china' AND country != '中国'
            </when>
        </choose>
        ORDER BY responseTime ASC,checkTime DESC LIMIT 100;
    </select>
    <!-- 统计有效代理数 -->
    <select id="queryValidProxyCount" resultType="int">
        SELECT count(*) FROM Cfg_Proxy WHERE valid = 1
        <if test="anonymousType != null and anonymousType != '' ">
            AND anonymousType = #{anonymousType, jdbcType=VARCHAR}
        </if>
        <if test="protocolType != null and protocolType != '' ">
            AND protocolType = #{protocolType, jdbcType=VARCHAR}
        </if>
        <choose>
            <when test="isDemostic != null and isDemostic == 'true' ">
                AND (country = 'china' OR country = '中国')
            </when>
            <when test="isDemostic != null and isDemostic == 'false' ">
                AND country != 'china' AND country != '中国'
            </when>
        </choose>
        ORDER BY responseTime ASC,checkTime DESC LIMIT 100;
    </select>

    <!-- 查询代理数量，按站点统计 -->
    <select id="proxyStatisticBySite" resultType="java.util.HashMap">
      SELECT sourceSite, COUNT(*) AS 'validProxy' FROM Cfg_Proxy WHERE valid = 1 GROUP BY sourceSite;
    </select>

    <!-- update -->
    <update id="updateProxies" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE Cfg_Proxy
            <set>
                valid = #{item.valid},
                invalidTime = #{item.invalidTime},
                lastSurviveTime = #{item.lastSurviveTime},
                checkTime = #{item.checkTime},
                checkStatus = #{item.checkStatus},
                score = #{item.score},
                validTime = #{item.validTime},
                responseTime = #{item.responseTime}
            </set>
            where id = #{item.id}
        </foreach>
    </update>


    <!-- delete -->


</mapper>